<div id="content">
  <h2> Partners </h2>
  <div>
    <img src="app/assets/images/revivaleagle.png" alt="Revival Apparel" style="width:500px;height:600px;"> 
    <a href="https://www.revivalapparel.co/" target=_blank> Revival Apparel </a>
  </div>
  <div>
    <a href="https://www.spinultimate.com/" target=_blank> Spin Ultimate </a>
  </div>
</div>
