<div id="content">
  <h1> History </h1>

  <h3> Bigfoot </h3>
  </br>
  <p>
    The 2018 Season will be the 10th season for the Brookwood Ultimate program.
    The first iteration of Brookwood Ultimate was a ragtag group of players led by Rob Woodward and the team named itself Bigfoot.
    The team met 1-2 times a week at Ronald Reagan park to play pickup and very few players knew what a stack was
    or how to throw a flick.
    Rob approaced Mrs. Thompson after he heard her in class talking about ultimate frisbee.
    He asked if she knew anyone that might be willing to help coach the team and she offered up her husband, Matt.
    Matt started coming out to practices in January of that year and the team played it's first "real" games on the MLK Holiday
    at Harmony Grove park going 0-3 on the day.

    By the end of the year the underclassmen had played against some of the best players in the South East region and were hungry to improve.
    The leaders aimed to really compete with the established programs and wanted to forge a new identity that took to heart
    the ideas of focus, intensity, respect, and effort.  The team voted on a new name and Brookwood Inferno was born.
  </p>
  </br>
  <h3> Inferno Open </h3>
  </br>
  <p>
    The first few years of Brookwood Inferno were all about getting the team to buy in and learn the fundamentals of the game.
    With very little experience the goal was to recruit and get new players interested and willing to commit to not just practices
    but also attending more tournaments.
    The team grew from 11 players in year one to 75 players across 3 Open teams.  We increased practices to 3 days per week and travelled
    all over the south east to attend tournaments.  Along the way we started winning more and more and solidified ourselves as a top 4 program in Georgia.
    But there was one thing we were missing...
  </p>
  </br>
  <h3> Brookwood Inferno Ladies </h3>
  </br>
  <p>
    Year after year we played "Open" which means any genders can play but really what it meant was 95% of the opposing teams were all male.
    We had consistently recruited 2-6 girls to play on our teams but that wasn't enough to make a team.
    A couple of those girls decided it was time.  Esme Rue and Katie E. went out to find a few more players. They got the team enough to create the first ever
    Brookwood Girls team.  That team hustled and grinded all season with as few as 8 girls available to play.  Knowing that wasn't enough, 2 of those players
    went on a recruiting MISSION.  Jenny C. and Liz R. brought new girl after new girl out and made them promise to give us 3 practices to get them to love Ultimate.
    And it worked.  By the beginning of Spring practices we had 28 girls signed up to play that season.

    From there the players got better and culminated in a 2nd place finish at the State Championships and a first place finish at the River Campus Classic -- our entire program's
    First Tournament Win.
  </p>
  </br>
  <h3> Going Forward </h3>
  </br>
  <p>
    Brookwood Ultimate has thrived on one driving principle.  This place should feel like HOME.  Everyone is welcome. Everyone is respectful.  Everyone is a little silly at times.
    Everyone works hard. We cheer for one another.  We help one another.  We embrance the differences in one another and denigrating each other is never allowed.  It is by creating
    this HOME for players that we give them opportunity to grow and succeed, to learn how to be a teammate, a friend, an athlete, a leader, and much more.

    By creating this home, we encourage our past players to stay connected through annual alumni days, continued advice, assistant coaching opportunities, and more.  We as coaches
    believe that we have a responsibility greater than just teaching young men and women how to throw and catch a disc; we have an opportunity and responsibility to help guide
    them as they grow and discover what it means to be themself all while giving them a safe place to return HOME.
  </p>

</div>
