<div class="calendar">
  <iframe class="calendar-box" src="https://calendar.google.com/calendar/embed?src=96vqqmsgjibsfloauh31iesel8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="900" height="600" frameborder="0" scrolling="no"></iframe>

  <h1> Dates </h1>

  <p> First Winter/Spring Practice:</p>
  <p> November 27th, 2018</p>

  <p> Early Dues Due </p>
  <p> November 16 </p>

  <p> Dues Due </p>
  <p> January 15</p>

  <p> Deep Freeze </p>
  <p> TBD</p>

  <p> Queen City/Music City </p>
  <p> TBD</p>

  <p> Terminus </p>
  <p> TBD</p>

  <p> State Championships </p>
  <p> TBD</p>

</div>

