<div id="content">
  <h2> Frequently Asked Questions </h2>

  <p id="question"> What is Ultimate? </p>
  <a href="http://www.whatisultimate.com/"> A basic summary on ultimate frisbee. </a>
  </br>
  <p id="question"> Who organizes and runs this? </p>
  <p> Brookwood Inferno Ultimate Club is a Brookwood Club sponsored by Mrs. Thompson.
     While technically a club, we do play games against other teams through the GHSU (Georgia High School Ultimate league)
  </p>
  </br>
  <p id="question"> When does the current season run? </p>
  <p> You can consult the <a href="/calendar">calendar</a> for specific dates.
    However, the practice season begins Nov 28th.
    While the season schedule isn’t totally set we typically play games starting in late January.
    The final tournament for both teams is the Georgia State High School Championships.
    It hasn’t been scheduled yet but it is typically the last weekend in April or the first weekend in May. Additionally we may opt to attend the Southern Championships or Paideia Cup in May.
    This would extend Varsity’s and Girl’s seasons by a couple of weeks.
  </p>
  </br>
  <p id="question">How are the teams created?</p>
  <p>Varsity and JV are split according to talent level. The ‘tryout’ process is a combination of the accumulation of skills shown at practices as well as performance in pre-season and early season events.</p>
  </br>
  <p id="question">Where are events held?</p>
  <p>We are using Crews Middle for practices on Tuesdays* Wednesdays* and Thursdays* from 4:30-6:30**.
     Games will also be at Crews Middle on various weekdays and Saturdays.
     There may be some away games at various other schools throughout the Metro Atlanta area on Saturdays.
     There are 3-4 tournaments we will attend. There is an away tournament near Chattanooga that we attend annually (and is great fun) on Feb 23-25.
     We also plan on attending either Queen City or Music City tournaments. This is March 9-11th this year.
     High School Terminus is here in Atlanta (Late-March) and then there is also High School State Championships(date tbd).
     Additionally we may attend a few round robins where we will travel (or possibly even host) and play 2-4 games on a Friday night or Saturday in the winter/spring.
     Finally we hope to qualify and attend (varsity/girls only) the Southern Regional Championships*** as mentioned above.
   </p>
   <small>
     *Some Tu/Th may be changed in terms of location/time to accommodate other sports using Crews field.</small>
   <small>** During the winter when sunset is earlier; we will end at sunset (approx. 6 p.m.)</small>
   <small>*** The cost for these tournaments are not contained within the dues. Since it is a travel tournament only those players attending are required to pay for this trip. It does require overnight stay and food. Last year the cost/player for the weekend was $50 for Deep Freeze and around $100 for Southerns, and everything (lodging, all meals) were supplied. </small>
  </br>
  <p id="question">How is transportation handled?</p>
  <p> Since we are a club we are responsible for our own transportation.
    Per team we normally need about 20 seats for players which is roughly 5-6 cars.
    This is especially important for our out of town tournaments and we need to ensure ahead of time that we have proper capacity.
    If you aren't able to participate in our out of town events, please clear your calendar for a couple of the local events so we share the load.
  </p>
  </br>
  <p id="question">Is attendance at all events mandatory?</p>
  <p>No. I understand that high school students today have a variety of other extracurricular activities.
     In the past we’ve had students miss practice and events for things like: SAT/ACT, track, band, theater, driver’s education, and obviously medical/health reasons.
     I am asking that I be notified when a student is unable to attend as there are teammates relying on them to practice with and get better.
     Missing for superfluous reasons is frustrating and hurts not just individual player development but development as a team. Additionally the difference between making V and not might be attendance and certainly attendance will play a role in determining playing time on either roster.
  </p>
  </br>
  <p id="question">Is ultimate safe?</p>
  <p>While ultimate is a non-contact sport, occasionally players run into one another and minor injuries occur.
    Also, as is the risk in any sport with running and changing directions injuries do tend to happen from time to time. Normally I’d say we’ve been lucky but we did have one player break a leg 3 years ago due to reckless play on the part of another team.
    I don’t put players in high risk situations and am cautious when it comes to letting them play with any existing injuries.
  </p>
  <p id="question">Is parent involvement required?</p>
  <p>Yes.  I’ve said ‘no and yes’ in the past and 20% of the parents did 90% of the work.
    That’s not fair. Every child’s parent must drive to at least one tournament.
    Beyond that, we will need help with food, videography, photography, travel chaperones for out of town events, setup/breakdown at tournaments.
    I hope to have a volunteer coordinator on each team to help balance the load more equitably this year.
  </p>

  <h3> Forms </h3>
  <h5> Print out/fill out/sign/return these in a folder with your name on it to Mrs. Thompson’s room - Trailer D - prior to your first practice. You will not be allowed to practice without these filled out/turned in.</h5>
  <a href="http://www.usaultimate.org/assets/1/Page/Medical%20Authorization-V4.1.pdf">USAU Medical Authorization Form: (Name of Chaperone is Erin and Matt Thompson)</a>
  </br>
  <a href="https://www.usaultimate.org/membership/">Please visit USAU and complete membership (do not pay for membership however, this is covered as part of dues)</a>
  </br>
  <a href="https://docs.google.com/document/d/1-6iXK3RbaXOIC4sqZhXqNfPW19eJoE8fvIOIjEQNACY/edit?usp=sharing">BHS Transportation Form</a>
  </br>
  <a href="https://drive.google.com/file/d/0B4IcxH8Aeu1aZnlXY2ZiT3RkanJRdzFBWHFqY094NENNazgw/view?usp=sharing">BHS Media Release (Teacher name is Erin Thompson)</a>
  </br>
  <a href="https://1.cdn.edl.io/Y8C0FZRAPXDNhzFc8Ik0bNj3KFOMsoTm1QaXp9gOYqcV0Xea.pdf">BHS Concussion Policy: (Print out and sign page 2 of this document)</a>

  <h3> Dues </h3>
  <p id="question"> How much are dues? </p>
  <p> Dues this year are $225 per player. </p>
  </br>
  <p id="question"> How can I pay dues? </p>
  <p> Brookwood Students can pay via <a href="https://mypaymentsplus.com/default.aspx">My Payments Plus</a>.
    Non-Brookwood students can pay via check made out to BHS with the students name and "Ultimate Frisbee" in the "for" field.
  </p>
  </br>
  <p id="question">What do my dues pay for?</p>
  <p>They pay for uniforms/gear (what we get varies. I try to keep it different from year to year so that returning players have a variety of gear), tournament dues for the team
    (which are around $250-500 per tournament per team) for 3-4 tournaments, and USA Ultimate membership for each student (required in order to play in the season and State Championships).
    They also pay for food at all tournaments/round robins. Please again note that Deep Freeze and Southerns have a separate cost to attend that I will collect directly.
    In addition there may be a small fee to participate in round robins. Last year it was around $2 per player.
  </p>
  </br>
  <p id="question">Are the dues required?</p>
  <p>No. A student may practice with the club and participate in any activities on Brookwood premises with the team without paying dues. However, paying dues IS required for any student who wants to attend any events off of Brookwood property including any round robins or tournaments (since the tournaments require USA Ultimate membership, fees for the tournament itself and in some cases uniforms/jerseys).</p>
  </br>
  <p id="question">When are dues due?</p>
  <p>I’m flexible to getting the dues or breaking it up into smaller amounts. However, I need to have dues paid by 1/15/2018 if at all possible. This is because I have to order jerseys and pay dues prior to our first tournament.</p>

  <h3> Contact Info </h3>
  <a href="mailto:brookwood.ultimate@gmail.com">
         <strong>General Info:</strong> <span>brookwood.ultimate@gmail.com</span>
  </a>
  </br>
  <a href="mailto:matthewlthompson@gmail.com">
         <strong>Boys Varsity Coach:</strong> <span>matthewlthompson@gmail.com</span>
  </a>
  </br>
  <a href="mailto:erin_thompson@gwinnett.k12.ga.us">
         <strong>Girls Varsity Coach/Sponsor:</strong> <span>erin_thompson@gwinnett.k12.ga.us</span>
  </a>
  </br>
  <a href="mailto:stephen_rockwell@gwinnett.k12.ga.us">
         <strong>Junior Varsity Coach/Co-Sponsor:</strong> <span>stephen_rockwell@gwinnett.k12.ga.us</span>
  </a>
</div>
