<div id="content">
  <h2> Home </h2>
  <h3> Welcome prospective ultimate players!!!</h3>
  <h5> It's not too late to play! </h5>
  <p> Whether you will be a 9th grader in the fall or are currently enrolled at Brookwood High School,
    you're welcome to come on out immediately and start learning (and possibly even play in our last couple of events!)
  </p>

  </br>
  <h5> Free clinics </h5>
  <p> New players are welcome to come to our "Learn to Play" clinic days (open to any new players, even current middle school students!)
    The only thing you'll need to bring is water!
  </p>
  <ul>
    <li> - March 29th 4:45 - 6:00 p.m. @ Crews Middle School </li>
    <li> - April 12th 4:45 - 6:00 p.m. @ Crews Middle School </li>
    <li> - May 3rd  4:45 - 6:00 p.m. @ Craig Elementary School </li>
  </ul>
  </br>

  <h5> Participate in our last few events this year! </h5>
  <p> Our girls varsity and our boys junior varsity are always accepting players.  If you want to come out and finish the season with us, we'd love to have you!</p>
  <p> Our remaining schedule looks like this: </p>
  <ul>
    <li> - Practices Tuesday, Wednesday, Thursday 4:30 - 6:30 (@ Crews Middle School)</li>
    <li> - April 14th, 3 games against other local teams (at Georgia Soccer Park in Atlanta) </li>
    <li> - State Championship Play.  Dates and opponents to be determined but play starts 4/15 and goes through 5/5 </li>
    <li> - Brookwood High School Relay for Life Fundraiser.  Play on the Brookwood campus to raise money for Relay for Life.  Date/time tbd </li>
  </ul>
  </br>

  <h5> Getting better over the summer </h5>
  <p> There's a lot of opportunities to improve over the summer as well </p>
  <ul>
    <li> <strong>Atlanta Hustle </strong> - The local professional men's team hosts summer camps for both new and experienced players: http://www.atlantahustle.com/camps-clinics/ </li>
    <li> <strong>Spin Ultimate Academy </strong>- A local summer camp to help players both learn and refine their skils: http://spinultimateacademy.com/ </li>
    <li> <strong>Weekly local (in Snellville) pick-up ultimate.</strong>  Returning Brookwood Ultimate players will be hosting pick-up ultimate for current/former players each week.  Fill out the form below to get information on when/where that happens </li>
  </ul>
  </br>

  <h5> 2018-2019 Season </h5>
  <p> We'll run a league in the fall for Brookwood students on Wednesdays starting in September (with Sign-ups in August). This low-cost league (around $20) will be a great opportunity for players to learn the game
  as well as have returning players refine their skills.  The league includes a reversible jersey and disc and is a great entry point for new players.
  </p>
  <p> For more information when fall league starts, please fill out the form below to be notified. </p>

  <p> Additionally, we ask that anyone interested in coming out this year or next complete this form: <a href="https://goo.gl/forms/f7DkXuKXJVinbdlN2">this form</a> (or just submit it below) so that we have appropriate contact information for players. </p>
  </br>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf-iN_VqFQnAdRmFAMzLqJBtXaHbE7RcqB2DcIvDrPoSsU4fA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </br>
</div>
