<div id="content">
  <h2> Home </h2>
  <h5> 2018-19 Season Information </h5>

  <h4> Spring Season </h4>

  <p> Our spring season informational meeting will be held on November 7th at 7:00 p.m. in the Brookwood commons. </p>
  <p> Here we will go over the details for our spring season including dues, other costs, important event dates, and practice information. </p>
  <p> Please fill out the form below if you are interested. </p>

  <strong>Players paying dues prior to 11/16 will have their spring jersey ordered early!</strong>

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdRxBesf0050yuK0L7Iji4X6RAyYtJO3TBeEREK-podUX-Mng/viewform?embedded=true" width="1000" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


  <h5> Past Season Information </h5>

  <h4> 2018 Fall League </h4>

  <p> Fall League is a great opportunity for new players of all skill levels and athletic
    backgrounds to come out and learn how to play ultimate in a fun and helpful setting.
    A $35 registration cost covers a Brookwood Ultimate disc and reversible tank jersey for
    each player.  Teams will be formed by the coaches taking into account skill level and gender
    ratios.
  </p>
  <p> Each week there will be an hour long clinic from 4:30 p.m. - 5:30 p.m. where we'll teach players
    the rules, throws, and basic strategy.  Then each week from 5:30 p.m. - 6:30 p.m. there will be
    a 1-hour game against another of our teams.
  </p>
  <p> We'll clinic/play every Wednesday at Crews Middle School starting September 5th
    through November 14th (excluding October 3rd for fall break).  That's 10 weeks of clinic
    and games!
  </p>
  <strong> Fill out the form below to register</strong>
  </br>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScmxR1BBiS7Sd3z9nWtaWgQfScVIBiqEa1La9tsTNztyVdxEA/viewform?embedded=true" width="1000" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  <p> If you have any questions or concerns please email us at <a href="mailto:brookwood.ultimate@gmail.com">brookwood.ultimate@gmail.com</a></p>

  <h4> 2019 Spring Season </h4>
  <p> The 2019 Spring Season starts with our parent/player informational meeting.
      The date has not yet been set but will be in the Brookwood Media Center this fall.
      During this meeting we will go over important information for the upcoming season.
      This will include things like:
  </p>
  <ul>
    <li> Practice Schedule </li>
      <small> - Tuesday/Wednesday/Thursday 4:30 - 6:30 @ Crews Middle School (beginning after Thanksgiving) </small>
    <li> Dues </li>
      <small> - Payable currently on mypaymentsplus </small>
      <small> - Date TBD: Early dues payment will grant fall jersey/uniform delivery </small>
    <li> Forms </li>
      <small> - TBD </small>
    <li> Parental Involvement </li>
      <small> - We rely on parents to transport us to all events. We will need volunteers once our schedule is set </small>
    <li> Tournament and Game Schedule </li>
      <li> - TBD </li>
    <li> Travel </li>
      <small> - Most events are local (within 1 hour) but we are responsible for our own transportation
         and players are not permitted to drive themselves </small>
  </ul>

  </br>

  <p> We ask that new players attend and bring a parent/guardian along to ask any questions they might have.
    Returning players are encouraged to bring a parent/guardian but as much is the same year to year we understand it may not be necessary.
  </p>

  </br>

  <!-- <p> Links to the required forms are <a href="faq">here</a> in the "Forms" section of the FAQ.</p>

  </br>

  <p> Additionally, we ask that all parents/player fill out <a href="https://goo.gl/forms/sBFRMbP6Ae8LH5up2">this form</a> (or just submit it below) so that we have appropriate contact information for players. </p>
  </br>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeyPpsgadnp7v1Uw46OBdN59XMOCiudMzPelzEpGDtaLIbsvw/viewform?embedded=true" width="1000" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  </br> -->
</div>
