<div id="content">
  <h2> Home </h2>
  <p>What is Ultimate? -- Watch this!</p>
  <iframe width="868" height="488" src="https://www.youtube.com/embed/WpMxrRjwg6g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h1> FALL LEAGUE WILL BE @ CRAIG ELEMENTARY STARTING 10/2 </h1>
  <h5> 2019 Fall League! </h5>

  <p> Welcome potential Ultimate players.  Brookwood Ultimate is excited to announce our Fall League
    will start on 9/4 and run until 11/20.  Registration is FREE for new players.
    This includes a custom Brookwood Ultimate frisbee on your second day!!!
  </p>
  </br>
  <ul>
    <li> Who </li>
      <small> - Any 8th - 12th grade students @ Brookwood/cluster schools </small>
      <small> - Exceptions can be made for non-Brookwood or 7th grade participants on a case by case basis. </small>
    <li> Schedule </li>
      <small> - Every Wednesday from 9/4/19 - 11/20/10 4:30 - 6:30 p.m. </small>
    <li> Location </li>
      <small> - Crews Middle School field </small>
      <small> - We may utilize Craig Elem. or Five Forks Middle at times </small>
    <li> Cost </li>
      <small> - NEW PLAYERS FREE!!! Returning players: $10 - This includes one Brookwood Ultimate disc! </small>
      <small> - Cash or paypal brookwood.ultimate@gmail.com </small>
  </ul>
  </br>
  <h6> You don't have to be able to attend every week to participate.
    Please fill out the form and/or contact us at brookwood.ultimate@gmail.com with questions.
  </h6>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScKEChgVuujVNNUdXNXwAqCorppGhQX2ac2qptijAyYAgExSg/viewform?embedded=true" width="800" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

  <h5> 2019-2020 Season Information </h5>

  <p> The 2020 Spring Season starts with our parent/player informational meeting.
      Date and time are T.B.D.
      During this meeting we will go over important information for the upcoming season.
      This will include things like:
  </p>
  <ul>
    <li> Practice Schedule </li>
      <small> - Tuesday/Wednesday/Thursday 4:30 - 6:30 @ Crews Middle School (beginning after Thanksgiving) </small>
    <li> Dues </li>
      <small> - Payable currently on mypaymentsplus </small>
      <small> - Date TBD: Early dues payment will grant fall jersey/uniform delivery </small>
    <li> Forms </li>
      <small> - TBD </small>
    <li> Parental Involvement </li>
      <small> - We rely on parents to transport us to all events. We will need volunteers once our schedule is set </small>
    <li> Tournament and Game Schedule </li>
      <li> - TBD </li>
    <li> Travel </li>
      <small> - Most events are local (within 1 hour) but we are responsible for our own transportation
         and players are not permitted to drive themselves </small>
  </ul>

  </br>

  <p> We ask that new players attend and bring a parent/guardian along to ask any questions they might have.
    Returning players are encouraged to bring a parent/guardian but as much is the same year to year we understand it may not be necessary.
  </p>

  </br>
  <strong>Players paying dues prior to 11/16 will have their spring jersey ordered early!</strong>
  </br>
  </br>

</div>
