
<h1> Dates </h1>

<p> First Practice:</p>
<p> November 28th, 2017</p>


<p> Dues Due </p>
<p> January 15</p>

<p> Deep Freeze </p>
<p> February 23-25</p>

<p> Queen City/Music City </p>
<p> March 9-11</p>

<p> Terminus </p>
<p> March 24-25</p>

<iframe src="https://calendar.google.com/calendar/embed?src=96vqqmsgjibsfloauh31iesel8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="1200" height="900" frameborder="0" scrolling="no"></iframe>
