<div id="content">
  <h1> Home </h1>
  <h3> Updated Information about the current season/program</h3>
  <h5> 2018 Season Information </h5>
  <p> The 2018 Spring Season starts with our parent/player informational meeting.
      This takes place on Wednesday November 15th at 6:00 p.m. in the Brookwood Media Center.
      During this meeting we will go over important information for the upcoming season.
      This will include things like:
  </p>
  <ul>
    <li> Practice Schedule </li>
    <li> Dues </li>
    <li> Forms </li>
    <li> Parental Involvement </li>
    <li> Tournament and Game Schedule </li>
    <li> Travel </li>
    <li> And answer any other questions that may arise </li>
  </ul>

  </br>

  <p> We ask that new players attend and bring a parent/guardian along to ask any questions they might have.
    Returning players are encouraged to bring a parent/guardian but as much is the same year to year we understand it may not be necessary.
  </p>

  </br>

  <p> Links to the required forms are <a href="faq">here</a> in the "Forms" section of the FAQ.</p>

  </br>

  <p> Additionally, we ask that all parents/player fill out <a href="https://goo.gl/forms/f7DkXuKXJVinbdlN2">this form</a>  so that we have appropriate contact information for players. </p>
  </br>
  </br>
</div>
